.content 
  flex-grow: 1
  height: 100%
  padding-block: 1rem

  &__item 
    position: relative
    background-color: var(--primary)

    display: flex
    flex-direction: column
    gap: 1rem

    &_header 
      color: var(--black)

.columns 
  display: flex
  gap: 20px
  height: 100%

  @media (max-width: 1000px)
    flex-direction: column-reverse

  &__col 
    display: flex
    flex-direction: column
    gap: 1rem

    &_left 
      max-width: 500px
      min-width: 350px
      @media (max-width: 1000px)
        align-self: center

    &_right
      flex: 1
