@forward './menu'
@forward './buttons'
@forward './result'
@forward './inputs'
@forward './content'
@forward './gradient-border'
  
@font-face 
  font-family: "Rubik"
  src: url("../fonts/Rubik-Regular.ttf")
  font-weight: 400

@font-face 
  font-family: "Rubik"
  src: url("../fonts/Rubik-Medium.ttf")
  font-weight: 500

@font-face 
  font-family: "Rubik"
  src: url("../fonts/Rubik-Bold.ttf")
  font-weight: 700

:root 
  --light: #eef0f2
  --primary: #e1e2e3
  --secondary: #8b8b8b
  --dark: #3a3f4e
  --black: #020100
  --success: #79b473
  font-family: "Rubik", sans-serif

body 
  background-color: var(--light)
  color: var(--black)
  height: 100vh

* 
  margin: 0
  box-sizing: border-box

.container 
  display: flex
  height: 100%

.message 
  background-color: var(--success)
  color: var(--light)
  font-size: 1.5rem
  padding: 0.5rem
  display: none
  position: absolute
  z-index: 1
  top: 50px
  left: 50%

