.result-vue 
  height: 100%
  width: 100%
  flex: 1

  &_center 
    display: flex
    align-items: center
    justify-content: center
    padding: 1rem
  
  &_with-sliders
    position: relative
    padding-left: 50px
    padding-bottom: 50px
    background-clip: content-box
    &__vertical-slider 
      position: absolute
      transform-origin: top left
      left: 0
      top: 0
      transform: rotate(90deg) translateY(-100%)
      
      label 
        display: block
        transform: rotate(180deg)

    &__horisontal-slider 
      position: absolute
      bottom: 0
      right: 0
      width: calc(100% - 50px)

.result-code 
  min-height: 200px
  max-height: 50%
  position: relative

  &__code 
    margin-top: 1rem
    width: 100%
    color: var(--black)
    border: 1px solid var(--dark)
    display: inline-block
    line-height: 1
    white-space: pre-wrap
    padding: 1rem
    overflow-y: auto

.text-result 
  outline: none
  word-break: break-all
  cursor: text
  width: 100%
  text-align: center

#gradient_text_result 
  font-size: 100px
  line-height: 100px
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  -moz-background-clip: text
  -moz-text-fill-color: transparent

#box_shadow_result 
  height: 300px
  width: 300px
  background-color: var(--primary)