#box_shadow.content__item
  h2.content__item_header Box shadow
  .columns
    .columns__col.columns__col_left
      .checkbox-input-group
        label(for='box_shadow_inside') Inside
        input#box_shadow_inside(type='checkbox')
      .slider-input-group
        label(for='box_shadow_offset_x') Offset X
        input#box_shadow_offset_x(type='range' min='-15' max='15' step='1' value='8')
        input.input-number(type='number' min='-15' max='15' value='8')
        label(for='box_shadow_offset_y') Offset Y
        input#box_shadow_offset_y(type='range' min='-15' max='15' step='1' value='8')
        input.input-number(type='number' min='-15' max='15' value='8')
        label(for='box_shadow_blur_radius') Blur radius
        input#box_shadow_blur_radius(type='range' min='0' max='15' step='1' value='0')
        input.input-number(type='number' min='0' max='15' value='0')
        label(for='box_shadow_spread_radius') Spread radius
        input#box_shadow_spread_radius(type='range' min='0' max='15' step='1' value='0')
        input.input-number(type='number' min='0' max='15' value='0')
        label(for='box_shadow_opacity') Opacity
        input#box_shadow_opacity(type='range' min='0' max='1' step='0.01' value='0')
        input.input-number(type='number' min='0' max='1' value='0')
      label(for='box_shadow_color') Color
      input#box_shadow_color(type='color' value='#ffaa00')
    .columns__col
      .color-input
        label(for='box_shadow_bg_color') Background color
        input#box_shadow_bg_color(type='color' value='#e2e2e2')
      .result-vue.result-vue_center
        #box_shadow_result
      .result-code
        h3 Style
        pre
          code#box_shadow_resultRgba.result-code__code
          +copyButton(data-id='box_shadow_resultRgba' class='icon-button_upper-right')