#conic_gradient.content__item
  h2.content__item_header Conic gradient
  .columns
    .columns__col.columns__col_left
      .checkbox-input-group
        label(for='conic_gradient_repeating') Repeating
        input#conic_gradient_repeating(type='checkbox' checked='')
        label(for='conic_gradient_hard_stops') Hard stops
        input#conic_gradient_hard_stops(type='checkbox' checked='')
      .slider-input-group
        label(for='conic_gradient_angle') Angle
        input#conic_gradient_angle(type='range' min='0' max='360' step='1' value='0')
        input.input-number(type='number' min='0' max='360' value='0')
        span.unit deg
      .colors
        h3 Colors
        .color-inputs
          .color-input-group
            .color-input
              label(for='conic_gradient_color_1') Color
              input#conic_gradient_color_1(type='color' value='#00e1ff')
            .slider-input-group 
              label(for='conic_gradient_stop_1') Stop
              input#conic_gradient_stop_1(type='range' min='0' max='360' step='1' value='20')
              input.input-number(type='number' min='0' max='360' value='20')
              span.unit deg
            +deleteButton('delete-color')
          .color-input-group
            .color-input
              label(for='conic_gradient_color_2') Color
              input#conic_gradient_color_2(type='color' value='#00aaff')
            .slider-input-group 
              label(for='conic_gradient_stop_2') Stop
              input#conic_gradient_stop_2(type='range' min='0' max='360' step='1' value='40')
              input.input-number(type='number' min='0' max='360' value='40')
              span.unit deg
            +deleteButton('delete-color')
        button.btn#conic_gradient_add_color Add color  
    .columns__col.columns__col_right
      #conic_gradient_result.result-vue.result-vue_with-sliders
        .result-vue_with-sliders__vertical-slider
          input#conic_gradient_position_y(type='range' min='0' max='100' step='1' value='20')
          label.vertical-slider__label(for='conic_gradient_position_y') Position Y
        .result-vue_with-sliders__horisontal-slider
          input#conic_gradient_position_x(type='range' min='0' max='100' step='1' value='30')
          label(for='conic_gradient_position_x') Position X
      .result-code
        h3 Style
        code#conic_gradient_result_code.result-code__code
        +copyButton(data-id='conic_gradient_result_code' class='icon-button_upper-right')