#conic_gradient.content__item
  h2.content__item_header Conic gradient
  .columns
    .columns__col.columns__col_left
      .checkbox-wrapper
        label(for='conic_gradient_repeating') Repeating
        input#conic_gradient_repeating(type='checkbox' checked='')
      .checkbox-wrapper
        label(for='conic_gradient_hard_stops') Hard stops
        input#conic_gradient_hard_stops(type='checkbox' checked='')
      label(for='conic_gradient_angle') Angle
      input#conic_gradient_angle(type='range' min='0' max='360' step='1' value='0')
      .colors
        .add-color
          h3 Colors
          button#conic_gradient_add_color.icon-button.icon-button_round-border(type='button' title='add color')
            svg(viewbox='0 0 24 24' width='20' height='20')
              path(d='M23,11H13V1a1,1,0,0,0-1-1h0a1,1,0,0,0-1,1V11H1a1,1,0,0,0-1,1H0a1,1,0,0,0,1,1H11V23a1,1,0,0,0,1,1h0a1,1,0,0,0,1-1V13H23a1,1,0,0,0,1-1h0A1,1,0,0,0,23,11Z')
        .color-inputs
          .color-input
            .color-input-group
              label(for='conic_gradient_color_1') Color
              input#conic_gradient_color_1(type='color' value='#00e1ff')
            .stop-input-group
              label(for='conic_gradient_stop_1') Stop
              input#conic_gradient_stop_1(type='range' min='0' max='360' step='1' value='20')
          .color-input
            .color-input-group
              label(for='conic_gradient_color_2') Color
              input#conic_gradient_color_2(type='color' value='#00aaff')
            .stop-input-group
              label(for='conic_gradient_stop_2') Stop
              input#conic_gradient_stop_2(type='range' min='0' max='360' step='1' value='40')
    .columns__col
      #conic_gradient_result.result-vue.result-vue_with-sliders
        .result-vue_with-sliders__vertical-slider
          input#conic_gradient_position_y(type='range' min='0' max='100' step='1' value='20')
          label.vertical-slider__label(for='conic_gradient_position_y') Position Y
        .result-vue_with-sliders__horisontal-slider
          input#conic_gradient_position_x(type='range' min='0' max='100' step='1' value='30')
          label(for='conic_gradient_position_x') Position X
      .result-codes
        .result-code
          h3 Style
          pre
            code#conic_gradient_result_code.result-code__code
            button.icon-button.result-code__icon-button(type='button' title='copy' data-id='conic_gradient_result_code')
              svg(height='24' viewbox='0 0 24 24' width='24')
                path(d='m15 20h-10a5.006 5.006 0 0 1 -5-5v-10a5.006 5.006 0 0 1 5-5h10a5.006 5.006 0 0 1 5 5v10a5.006 5.006 0 0 1 -5 5zm-10-18a3 3 0 0 0 -3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-10a3 3 0 0 0 -3-3zm19 17v-13a1 1 0 0 0 -2 0v13a3 3 0 0 1 -3 3h-13a1 1 0 0 0 0 2h13a5.006 5.006 0 0 0 5-5z')
