#gradient_text.content__item
  h2.content__item_header Gradient text
  .columns
    .columns__col.columns__col_left
      .color-input-group
        .color-input
          label(for='gradient_text_bg_color') Background
          input#gradient_text_bg_color(type='color' value='#e2e2e2')
      .checkbox-input-group
        label(for='gradient_text_repeating') Repeating
        input#gradient_text_repeating(type='checkbox')
        label(for='gradient_text_hard_stops') Hard stops
        input#gradient_text_hard_stops(type='checkbox')
      .slider-input-group
        label(for='gradient_text_angle') Angle
        input#gradient_text_angle(type='range' min='0' max='360' step='1' value='0')
        input.input-number(type='number' min='0' max='360' value='0')
        span.unit deg
      .colors
        h3 Colors
        .color-inputs
          .color-input-group
            .color-input
              label(for='gradient_text_color_1') Color
              input#gradient_text_color_1(type='color' value='#0000ff')
            .slider-input-group 
              label(for='gradient_text_stop_1') Stop
              input#gradient_text_stop_1(type='range' min='0' max='100' step='1' value='0')
              input.input-number(type='number' min='0' max='100' value='0')
              span.unit %
            +deleteButton('delete-color')
          .color-input-group
            .color-input
              label(for='gradient_text_color_2') Color
              input#gradient_text_color_2(type='color' value='#ff0000')
            .slider-input-group 
              label(for='gradient_text_stop_2') Stop
              input#gradient_text_stop_2(type='range' min='0' max='100' step='1' value='100')
              input.input-number(type='number' min='0' max='100' value='0')
              span.unit %
            +deleteButton('delete-color')
        button.btn#gradient_text_add_color Add color  
    .columns__col
      .result-vue.result-vue_center
        #gradient_text_result(contenteditable='').text-result Result
          
      .result-codes
        .result-code
          h3 Style
          pre
            code#gradient_text_result_code.result-code__code
          +copyButton(data-id='gradient_text_result_code' class='icon-button_upper-right')