#gradient_border.content__item
  h2.content__item_header Gradient
  .columns
    .columns__col.columns__col_left
      .color-input
        label(for='gradient_border_bg_color') Background color
        input#gradient_border_bg_color(type='color' value='#b0b0b0')
      .checkbox-input-group
        label(for='gradient_border_repeating') Repeating
        input#gradient_border_repeating(type='checkbox')
        label(for='gradient_border_hard_stops') Hard stops
        input#gradient_border_hard_stops(type='checkbox')
      .slider-input-group
        label(for='gradient_border_angle') Angle
        input#gradient_border_angle(type='range' min='0' max='360' step='1' value='0')
        input.input-number(type='number' min='0' max='360' value='0')
        span.unit deg
        label(for='gradient_border_thickness') Thickness
        input#gradient_border_thickness(type='range' min='1' max='20' step='1' value='5')
        input.input-number(type='number' min='1' max='20' value='5')
        span.unit px
        label(for='gradient_border_radius') Radius
        input#gradient_border_radius(type='range' min='0' max='100' step='1' value='20')
        input.input-number(type='number' min='0' max='100' value='20')
        span.unit px
      .colors
        h3 Colors
        .color-inputs
          .color-input-group
            .color-input
              label(for='gradient_border_color_1') Color
              input#gradient_border_color_1(type='color' value='#0000ff')
            .slider-input-group 
              label(for='gradient_border_stop_1') Stop
              input#gradient_border_stop_1(type='range' min='0' max='360' step='1' value='0')
              input.input-number(type='number' min='0' max='360' value='0')
              span.unit deg
            +deleteButton('delete-color')
          .color-input-group
            .color-input
              label(for='gradient_border_color_2') Color
              input#gradient_border_color_2(type='color' value='#ff0000')
            .slider-input-group 
              label(for='gradient_border_stop_2') Stop
              input#gradient_border_stop_2(type='range' min='0' max='360' step='1' value='180')
              input.input-number(type='number' min='0' max='360' value='180')
              span.unit deg
            +deleteButton('delete-color')
          .color-input-group
            .color-input
              label(for='gradient_border_color_3') Color
              input#gradient_border_color_1(type='color' value='#0000ff')
            .slider-input-group 
              label(for='gradient_border_stop_3') Stop
              input#gradient_border_stop_1(type='range' min='0' max='360' step='1' value='360')
              input.input-number(type='number' min='0' max='360' value='360')
              span.unit deg
            +deleteButton('delete-color')
        button.btn#gradient_border_add_color Add color  
    .columns__col
      
      .result-vue.result-vue_center
        #gradient_border_result
      .result-codes
        .result-code
          h3 Style
          pre
            code#gradient_border_result_code.result-code__code
          +copyButton(data-id='gradient_border_result_code' class='icon-button_upper-right')