doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href='../main.css' rel='stylesheet')
    script(src="../index.js" defer="defer" type="module")
    title CSS Generator
  body
    div.container
      nav.menu
        a.menu__tab.menu__tab_active(href="linear_gradient") linear gradient
        a.menu__tab(href="radial_gradient") radial gradient
        a.menu__tab(href="conic_gradient") conic gradient
        a.menu__tab(href="text-shadow") text shadow
        a.menu__tab(href="box-shadow") box shadow
      div.content
        include ./linear-gradient.pug
        include ./radial-gradient.pug
        include ./conic-gradient.pug
        include ./text-shadow.pug
        include ./box-shadow.pug