include ./mixins/deleteButton.pug
include ./mixins/copyButton.pug
include ./mixins/menuButton.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href='../sass/main.sass' rel='stylesheet')
    script(src="../index.js" defer="defer" type="module")
    title CSS Generator
  body
    sidebar.sidebar
      nav.menu
        a.menu__tab.menu__tab_active(href="box_shadow") box shadow
        a.menu__tab(href="striped_border") striped border
        a.menu__tab(href="gradient_text") gradient text
        a.menu__tab(href="text_shadow") text shadow
        a.menu__tab(href="linear_gradient") linear gradient
        a.menu__tab(href="gradient_border") gradient border
        a.menu__tab(href="radial_gradient") radial gradient
        a.menu__tab(href="conic_gradient") conic gradient
      +deleteButton('close-menu', 'icon-button_upper-right icon-button_sidebar')
    
    header
      .container.header
        +menuButton('open-menu', 'menu-button')
        
    main.main
      .container
        .content
          include ./box-shadow.pug
          include ./striped-border.pug
          include ./gradient-text.pug
          include ./text-shadow.pug
          include ./linear-gradient.pug
          include ./gradient-border.pug
          include ./radial-gradient.pug
          include ./conic-gradient.pug
        
        