#linear_gradient.content__item
  h2.content__item_header Linear gradient
  .columns
    .columns__col.columns__col_left
      .checkbox-input-group
        label(for='linear_gradient_repeating') Repeating
        input#linear_gradient_repeating(type='checkbox')
        label(for='linear_gradient_hard_stops') Hard stops
        input#linear_gradient_hard_stops(type='checkbox')
      .slider-input-group
        label(for='linear_gradient_angle') Angle
        input#linear_gradient_angle(type='range' min='0' max='360' step='1' value='0')
        input.input-number(type='number' min='0' max='360' value='0')
        span.unit deg
      .colors
        h3 Colors
        .color-inputs
          .color-input-group
            .color-input
              label(for='linear_gradient_color_1') Color
              input#linear_gradient_color_1(type='color' value='#0000ff')
            .slider-input-group 
              label(for='linear_gradient_stop_1') Stop
              input#linear_gradient_stop_1(type='range' min='0' max='100' step='1' value='0')
              input.input-number(type='number' min='0' max='100' value='0')
              span.unit %
            +deleteButton('delete-color')
          .color-input-group
            .color-input
              label(for='linear_gradient_color_2') Color
              input#linear_gradient_color_2(type='color' value='#ff0000')
            .slider-input-group 
              label(for='linear_gradient_stop_2') Stop
              input#linear_gradient_stop_2(type='range' min='0' max='100' step='1' value='100')
              input.input-number(type='number' min='0' max='100' value='0')
              span.unit %
            +deleteButton('delete-color')
        button.btn#linear_gradient_add_color Add color  
    .columns__col
      #linear_gradient_result.result-vue
      .result-codes
        .result-code
          h3 Style

          code#linear_gradient_result_code.result-code__code
          +copyButton(data-id='linear_gradient_result_code' class='icon-button_upper-right')