#radial_gradient.content__item
  h2.content__item_header Radial gradient
  .columns
    .columns__col.columns__col_left
      .checkbox-input-group
        label(for='radial_gradient_repeating') Repeating
        input#radial_gradient_repeating(type='checkbox' checked='')
        label(for='radial_gradient_hard_stops') Hard stops
        input#radial_gradient_hard_stops(type='checkbox' checked='')
      h3 Shape
      .radio-group
        input#radial_gradient_ellipse(type='radio' name='radial_gradient_shape' value='ellipse')
        label(for='radial_gradient_ellipse') Ellipse
        input#radial_gradient_circle(type='radio' name='radial_gradient_shape' value='circle' checked='')
        label(for='radial_gradient_circle') Circle
      .colors
        h3 Colors
        .color-inputs
          .color-input-group
            .color-input
              label(for='radial_gradient_color_1') Color
              input#radial_gradient_color_1(type='color' value='#0008ff')
            .slider-input-group 
              label(for='radial_gradient_stop_1') Stop
              input#radial_gradient_stop_1(type='range' min='0' max='100' step='1' value='20')
              input.input-number(type='number' min='0' max='100' value='20')
              span.unit %
            +deleteButton('delete-color')
          .color-input-group
            .color-input
              label(for='radial_gradient_color_2') Color
              input#radial_gradient_color_2(type='color' value='#0084ff')
            .slider-input-group 
              label(for='radial_gradient_stop_2') Stop
              input#radial_gradient_stop_2(type='range' min='0' max='100' step='1' value='40')
              input.input-number(type='number' min='0' max='100' value='40')
              span.unit %
            +deleteButton('delete-color')
        button.btn#radial_gradient_add_color Add color  
    .columns__col
      #radial_gradient_result.result-vue.result-vue_with-sliders
        .result-vue_with-sliders__vertical-slider
          input#radial_gradient_position_y(type='range' min='0' max='100' step='1' value='50')
          label.vertical-slider__label(for='radial_gradient_position_y') Position Y
        .result-vue_with-sliders__horisontal-slider
          input#radial_gradient_position_x(type='range' min='0' max='100' step='1' value='50')
          label(for='radial_gradient_position_x') Position X
      .result-codes
        .result-code
          h3 Style
          
          code#radial_gradient_result_code.result-code__code
          +copyButton(data-id='radial_gradient_result_code' class='icon-button_upper-right')