#text_shadow.content__item
  h2.content__item_header Text-shadow
  .columns
    .columns__col.columns__col_left
      .slider-input-group
        label(for='text_shadow_font_size') Font size
        input#text_shadow_font_size(type='range' min='16' max='100' step='1' value='56')
        input.input-number(type='number' min='16' max='100' value='56')
        span.unit px
      .color-input-group
        .color-input
          label(for='text_shadow_text_color') Text color
          input#text_shadow_text_color(type='color' value='#0000cc')
        .color-input
          label(for='text_shadow_bg_color') Background
          input#text_shadow_bg_color(type='color' value='#e2e2e2')
      h3 Colors
      .colors
        .color-input-group
          .slider-input-group    
            label(for='text_shadow_offset_x_1') Offset X
            input#text_shadow_offset_x_1(type='range' min='-50' max='50' step='1' value='8')
            input.input-number(type='number' min='-50' max='50' value='8')
            span.unit px
            label(for='text_shadow_offset_y_1') Offset Y
            input#text_shadow_offset_y_1(type='range' min='-50' max='50' step='1' value='8')
            input.input-number(type='number' min='-50' max='50' value='8')
            span.unit px
            label(for='text_shadow_blur_radius_1') Blur radius
            input#text_shadow_blur_radius_1(type='range' min='0' max='15' step='1' value='0')
            input.input-number(type='number' min='0' max='15' value='0')
            span.unit px
            label(for='text_shadow_opacity_1') Opacity
            input#text_shadow_opacity_1(type='range' min='0' max='1' step='0.01')
            input.input-number(type='number' min='0' max='1' value='0.01')
          .color-input
            input#text_shadow_color(type='color' value='#0a0a0a')
          +deleteButton('delete-color', 'icon-button_upper-right')
        button.btn#text_shadow_add_color Add color  
    .columns__col
      .result-vue.result-vue_center
        #text_shadow_result(contenteditable='').text-result Result

      .result-code
        h3 Style

        code#text_shadow_resultHex.result-code__code
        +copyButton(data-id='text_shadow_resultHex' class='icon-button_upper-right')