@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-Bold.ttf");
  font-weight: 700;
}

:root {
  --light: #eff6e0;
  --primary: #aec3b0;
  --secondary: #598392;
  --dark: #124559;
  --black: #01161e;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: var(--light);
  color: var(--black);
  height: 100vh;
}

* {
  margin: 0;
  box-sizing: border-box;
}

/* TABS */

.container {
  display: flex;
  height: 100%;
}

.menu {
  width: 150px;
  flex-shrink: 0;
  background-color: var(--secondary);
}

.menu__tab {
  display: block;
  height: 35px;
  padding: 10px;
  text-decoration: none;
  background-color: var(--secondary);
  color: var(--light);
  cursor: pointer;
  text-wrap: nowrap;
  transition: color 0.1s, background-color 0.1s;
}

.menu__:hover {
  background-color: var(--light);
  color: var(--dark);
}

.menu__tab_active {
  background-color: var(--primary);
  color: var(--dark);
}

.content {
  flex-grow: 1;
  height: 100%;
}

.content__item {
  position: relative;
  background-color: var(--primary);
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* COMMON */

.content__item_header {
  margin-bottom: 20px;
}

.columns {
  display: flex;
  gap: 20px;
  height: 100%;
}

.columns__col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.columns__col_left {
  max-width: 500px;
}

.result-vue {
  height: 100%;
  width: 100%;
  flex: 1;
}

.result-vue_center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.result-codes {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 80px;
}

.result-code {
  position: relative;
}

.result-code__icon-button {
  position: absolute;
  top: 0;
  right: 0;
}

.result-code__code {
  margin-top: 1rem;
  color: var(--black);
  display: inline-block;
  line-height: 1;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  padding: 0;
  background-color: transparent;
  fill: var(--dark);
  border: none;
  cursor: pointer;
  transition: border 0.3s, fill 0.3s;
}

.icon-button:hover,
.icon-button:disabled {
  fill: var(--secondary);
}

.icon-button_round-border {
  border: 2px solid var(--dark);
  border-radius: 50%;
}

.icon-button_round-border:hover {
  border-color: var(--secondary);
}

.btn {
  height: 32px;
  background-color: var(--secondary);
  color: var(--light);
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
  padding: 0;
}

.btn:hover {
  color: var(--primary);
}

.slider-input-group {
  display: grid;
  grid-template-columns: 1fr 5fr 0.5fr;
  align-items: center;
  gap: 1rem;
}

.checkbox-input-group {
  width: fit-content;
  display: grid;
  grid-template-columns: auto 20px;
  gap: 1rem;
}

.radio-group {
  width: fit-content;
  display: grid;
  grid-template-columns: 20px auto;
  gap: 1rem;
}

/* box shadow */

#box_shadow_result {
  height: 100px;
  width: 100px;
  background-color: var(--primary);
}

/* gradient */

.colors {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.color-inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.color-input-group {
  display: flex;
  gap: 2rem;
}

.color-input {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0.5rem;
}

.stop-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;
}

.stop-input__icon-button {
  margin-left: auto;
}

label {
  text-wrap: nowrap;
}

/* text shadow */

#text_shadow_result {
  outline: none;
  word-break: break-all;
  cursor: text;
  width: 100%;
  text-align: center;
}

/* radial and conic gradient */

.result-vue_with-sliders {
  position: relative;
  background-size: 95% 95%;
  background-repeat: no-repeat;
  background-position: right top;
}

.result-vue_with-sliders__vertical-slider {
  position: absolute;
  transform-origin: top left;
  left: 0;
  top: 0;
  transform: rotate(90deg) translateY(-100%);
  width: calc();
}

.vertical-slider__label {
  display: block;
  transform: rotate(180deg);
}

.result-vue_with-sliders__horisontal-slider {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 95%;
}

/* gradient border */
#gradient_border_result {
  --gradient-border-colors: conic-gradient(from 45deg, red, blue, green, red);
  --gradient-border-thickness: 30px;
  --gradient-border-radius: 20%;
}

#gradient_border_result {
  height: 450px;
  width: 300px;
  position: relative;
  border-radius: var(--gradient-border-radius);
}

#gradient_border_result::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: var(--gradient-border-thickness);
  background: var(--gradient-border-colors);
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
}

/* slider */

input[type="range"] {
  appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--secondary);
  height: 8px;
  border-radius: 4px;
}

input[type="range"]::-moz-range-track {
  background: #053a5f;
  height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--dark);
  border-radius: 50%;
  height: 16px;
  width: 16px;
  margin-top: -4px;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  border-radius: 50%;
  background-color: var(--dark);
  height: 16px;
  width: 16px;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 2px solid var(--dark);
  outline-offset: 2px;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 2px solid var(--dark);
  outline-offset: 2px;
}

/* color input */

/*removes color pick extansion img */
img[class*="colorpick"] {
  display: none;
}

input[type="color"] {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

input[type="color"],
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border-color: transparent;
  border-radius: 50%;
}

input[type="color"]::-moz-color-swatch {
  border-color: transparent;
  border-radius: 50%;
}

/* checkbox */

input[type="checkbox"] {
  accent-color: var(--light);
}

/* radio */

input[type="radio"] {
  cursor: pointer;
  accent-color: var(--dark);
}

/* input number */

input[type="number"] {
  height: 30px;
  width: 45px;
  border: 2px solid transparent;
  outline: none;
  border-radius: 2px;
}

input[type="number"]:focus {
  border: 2px solid var(--secondary);
}
