@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-Bold.ttf");
  font-weight: 700;
}

:root {
  --light: #eff6e0;
  --primary: #aec3b0;
  --secondary: #598392;
  --dark: #124559;
  --black: #01161e;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: var(--light);
  color: var(--black);
  height: 100vh;
  padding-top: 100px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

/* TABS */

.tabs-wrapper {
  position: relative;
}

.tabs {
  display: flex;
}

.tab {
  display: block;
  position: relative;
  top: 25px;
  height: 60px;

  border-radius: 15px;
  padding: 10px;
  text-decoration: none;
  background-color: var(--secondary);
  color: var(--light);
  cursor: pointer;
}

.active {
  background-color: var(--primary);
  color: var(--dark);
}

.tab-item {
  position: relative;
  background-color: var(--primary);
  padding: 20px;
  border-radius: 0 10px 10px;
  z-index: 10;
}

/* COMMON */

.tab-item h2 {
  margin-bottom: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.result-vue {
  height: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-code {
  margin-top: auto;
}

.flex {
  display: flex;
  gap: 20px;
}

#box_shadow_result {
  height: 100px;
  width: 100px;
  background-color: #598392;
}

/* gradient */

.colors {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.color-inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.color-input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.color-input-group input {
  margin-left: auto;
}

.stop-input-group {
  display: flex;
  gap: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

/* slider */

input[type="range"] {
  appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--secondary);
  height: 8px;
  border-radius: 4px;
}

input[type="range"]::-moz-range-track {
  background: #053a5f;
  height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--dark);
  border-radius: 50%;
  height: 16px;
  width: 16px;
  margin-top: -4px;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  border-radius: 50%;
  background-color: var(--dark);
  height: 16px;
  width: 16px;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 2px solid var(--dark);
  outline-offset: 2px;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 2px solid var(--dark);
  outline-offset: 2px;
}

/* color input */

/*removes color pick extansion img */
img[class*="colorpick"] {
  display: none;
}

input[type="color"] {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

input[type="color"],
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 1px;
}

input[type="color"]::-webkit-color-swatch {
  border-color: transparent;
  border-radius: 50%;
}
input[type="color"]::-moz-color-swatch {
  border-color: transparent;
  border-radius: 50%;
}
